.about-me-image{
background-color: var(--bg-color-two);
border-radius: 8px;
padding-top: 10px;
margin-bottom: 24px;
}
.about-me-content{
    .btn-grp{
        margin-top: 24px;
    }
    .theme-btn-primary{
        margin-right: 8px;
    }
    .about-me-social-icons{
        margin-top: 34px;
        gap:8px;
        a{
            color: var(--text-color-two);
            font-size: 16px;
            font-weight: 500;
            line-height: 120%;
        }
    }
}