.background-shapes{
    .common-shape{
        position: fixed;
        z-index: -1;
        animation: rotateAnimation 60s infinite linear;
        @keyframes rotateAnimation {
            from {
                transform: rotate(0deg);
            }
        
            to {
                transform: rotate(360deg);
                /* Rotates the element 360 degrees */
            }
        }
        &.shape-1{
            top: -20%;
            left: -20%;
        }
        &.shape-2{
            bottom: -20%;
            right: -20%;
        }
    }
    .object-shape{
        position: fixed;
        z-index: -1;        
    }
    .object-shape-1{
        top: 20%;
        left: 10%;
    }
    .object-shape-2{
        bottom: 20%;
        right: 9%;
    }
}

@media (max-width: 1399.98px) {
    .background-shapes{
        .object-shape{
            display: none;
        }
    }
}