.card{
    border: none;
    border-radius: 16px;
    box-shadow: var(--shadow);
    background: var(--bg-color-three);
    padding: 24px;
    height: 100%;
    .card-body{
        padding: 0px;
        .card-headers{
            margin-bottom: 24px;
            .card-link{
                border-bottom: 1px solid var(--card-link-border);
                transition: var(--transition);
                color: var(--primary-color) !important;
                &:hover{
                    border-bottom: 1px solid var(--primary-color);
                }
            }
            .card-title{
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 24px;
                line-height: 110%;
                color: var(--text-color-one);
                margin-bottom: 0px;
            }
        }
        .card-text{
        font-family: var(--font-family-2);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: var(--text-color-two);
        strong{
            font-weight: semibold;
            color: var(--text-color-one);
        }
        }
}
}