/*=============================
	03. Header CSS start
===============================*/
.header-section {
  margin: 24px 0px;

  .navbar {
    padding: 0px;
    .mobile-menu-overlay {
      @media (max-width: 991.98px) {
        background: rgba(0, 0, 0, 0.6);
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        transform: var(--transition);
      }
    }
    .mobile-menu-overlay.open{
      visibility: visible;
        opacity: 1;
    }
    .navbar-inner {
      background: var(--bg-color-three);
      border-radius: 16px;
      padding: 10px 10px 10px 24px;
      box-shadow: var(--box-shadow);
      width: 100%;
      .menu-control-btn {
        background: var(--bg-color-one);
        color: var(--text-color-six);
        border: none;
        padding: 0px 6px;
        border-radius: 2px;
      }
      @media (max-width: 991.98px) {
        .collapse:not(.show) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        .navbar-collapse {
          position: fixed;
          background-color: var(--bg-color-three);
          top: 0;
          left: -250px;
          width: 250px;
          height: 100%;
          overflow-y: auto;
          scrollbar-width: thin;
          z-index: 999;
          padding: 24px;
          transition: var(--transition);
          .sidebar-close-btn{
            width: 35px;
            height: 35px;
            display: grid;
            place-content: center;
            border-radius: 5px;
            &:hover{
              background: var(--bg-color-two) !important;
            }
          }
          .navbar-nav {
            .nav-item {
              margin: 10px 0px;
            }
          }
        }
        .navbar-collapse.open{
          left: 0;
        }
      }
    }
    .navbar-brand {
      color: var(--text-color-one) !important;
      gap: 12px;
      font-size: 24px;
      line-height: 120%;
      font-weight: 600;

      .logo-name {
        span {
          color: var(--primary-color);
        }
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: var(--text-color-two);
          font-size: 16px;
          font-weight: 500;
          line-height: 120%;
          gap: 8px;
          padding: 8px 12px;
          border-radius: 8px;
          svg {
            stroke: var(--text-color-four);
            stroke-width: 1.2;
            transition: var(--transition);
            width: 20px;
            height: 20px;
          }
          &.active {
            background: var(--bg-color-two);
            color: var(--text-color-one);
            svg {
              stroke: var(--text-color-one);
            }
          }
          &:hover {
            background: var(--bg-color-two);
            color: var(--text-color-one);
            svg {
              stroke: var(--text-color-one);
            }
          }
        }
      }
    }

    .header-action {
      @media (max-width: 991.98px) {
        margin-top: auto;
        width: 100%;
      }

      .theme-btn {
        @media (max-width: 991.98px) {
          width: 100%;
          text-align: center;
          margin-top: 10px;
          font-size: 15px;
        }
      }
      .theme-control-btn {
        margin-right: 16px;
        transition: var(--transition);
        align-items: center;
        
        @media (max-width: 1199.98px) {
          margin-right: 5px;
          
        }
        .theme-text {
          font-size: 14px;
          font-weight: 400;
          color: var(--text-color-two);
        }
        @media (max-width: 991.98px) {
          display: flex;
          gap: 10px;
          margin-right: 0;
          width: 100%;
          height: 40px;
          padding: 0 15px;
          border-radius: 10px !important;
          &:hover {
            background: var(--bg-color-two) !important;
          }
        }
      }
    }
  }
}
