/*=============================
	03. Header CSS start
===============================*/
.header-section{
	margin: 24px 0px;
	.navbar{
		.container{
			background: var(--bg-color-three);
			border-radius: 16px;
			padding: 10px 10px 10px 24px;
		}
		.navbar-brand{
			color: var(--text-color-one) !important;
			gap: 12px;
			font-size: 24px;
			line-height: 120%;
			font-weight: 600;
			
			.logo-name{
				span{
					color: var(--primary-color);
				}
			}
		}
		.navbar-nav{
			.nav-item{
				.nav-link{
					color: var(--text-color-two);
					font-size: 16px;
					font-weight: 500;
					line-height: 120%;
					gap: 8px;
					padding: 8px 12px;
					border-radius: 8px;
					svg{
						stroke: var(--text-color-four);
						stroke-width: 1.2;
						transition: var(--transition);
						width: 20px;
  						height: 20px;
					}
					&.active{
						background: var(--bg-color-two);
						color: var(--text-color-one);
						svg{
							stroke: var(--text-color-one);
						}
					}
					&:hover{
						background: var(--bg-color-two);
						color: var(--text-color-one);
						svg{
							stroke: var(--text-color-one);
						}
					}
				}
			}
		}
		.header-action{
			.theme-control-btn{
				margin-right: 16px;
			}
			
		}
	}
}