.lets-work-together{
    .scrolling-info{
        padding: 18px 0px;
        border-radius: 8px;
        background: var(--bg-color-two);
        margin-bottom: 22px;
        .slider-item{
            animation: scrolling 12s linear infinite;
            p{
                color: var(--text-color-two);
                font-size: 18px;
                font-weight: 500;
                line-height: 110%;
            }
        }
        @keyframes scrolling {
            0%{
                transform: translateX(35%);
            }
            to{
                transform: translateX(-100% - 1.5rem);
            }
        }
    }
}