.about-box-content {
  .intro-section {
    margin-bottom: 48px;
    .intro-text {
      max-width: 540px;
      @media screen and (max-width: 991.98px) {
        max-width: 440px;
        
      }
      .intro-title {
        font-weight: 600;
        font-size: 40px;
        line-height: 110%;
        color: var(--text-color-one);
        span {
          color: var(--primary-color);
        }
        @media screen and (max-width: 991.98px) {
          font-size: 32px;
        }
      }
      .intro-info {
        font-family: var(font-family-2) !important;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        color: var(--text-color-two);
        margin-top: 24px;
        strong {
          color: var(--text-color-one);
        }
        @media screen and (max-width: 991.98px) {
          font-size: 18px;
        }
      }
    }
    .availablity-badge {
      width: 196px;
      height: 36px;
      background: var(--bg-color-two);
      display: flex;
      align-items: center;
      justify-content: center;
      .available-badge {
        font-weight: 500;
        font-size: 18px;
        line-height: 110%;
        color: var(--primary-color);
        i {
          font-size: 8px;
          margin-right: 12px;
          position: relative;
          &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            width: 100%;
            height: 100%;
            background-color: rgba(71, 112, 255, 0.3);
            border-radius: 50%;
            content: "";
            animation: live 1s ease-in-out infinite;
          }
          @keyframes live {
            0% {
              transform: translate(-50%, -50%) scale(1)
            }
          
            100% {
              transform: translate(-50%, -50%) scale(2.4);
              background-color: transparent
            }
          }
        }
      }
    }
  }
}
